VITE_SUPABASE_URL=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx4cGF4a25rZmRibm1hcmdsd29yIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc1NzI3MjYsImV4cCI6MjA5MzE0ODcyNn0.4nS8pkMEOE_1IfP1SKoriVcGh7X-Q9tS8TzjSIZPeiQ
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx4cGF4a25rZmRibm1hcmdsd29yIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NzU3MjcyNiwiZXhwIjoyMDkzMTQ4NzI2fQ.L994SxohtApzDjnPgqITSUpli6aneHANuHXggPB1Yb8
